.content-info {
	 display: inline-block;
    	width: 100%;
	
		 margin: 0em 0 0 0;
	.container {
		
		 padding:4em 0 0 0;
		position: relative;
		.image-container {
			text-align: center;
		}
		.contact-details {
			a {
				display: block;
				color: $font-color;
				span {
					display: inline-block;
					color: $blue-dark;
					font-weight: bold; 
					margin-right: 5px;
				}
				&.theme-button {
					display: inline-block;
				    color: #fff;
				    margin-top: 1em;
				}
			}
		}
		.social-links {
			ul {
				list-style: none;
				padding: 0;
				li {
					float: left;
					i {
						font-size: 25px;
    					margin: 5px;
    					color: $border-blue;
    					box-shadow: 0px 1px 0px 1px $grey;
					    padding: 5px 5px 0;
					    border-radius: 25%;
					}
				}
			}
		}
	}
}

footer.content-info {
    display: inline-block;
    width: 100%;

}
#newsletter-modal {
	.modal-content {
		.modal-header {
			.modal-title {
				color: $blue;
				text-align: center;
			}
		}
		input {
			border: 1px solid $blue;
	    	border-radius: 0;
		}
		.theme-button {
			display: inline-block;
			color: #fff;
			border: 0;
		}
	}
}