
.page-header {
	border-bottom: 0;
	// text-align: center;
	position: relative;
    // overflow: hidden;

    .logo-container {
    	text-align: right;
    	padding-bottom:2em;
		a {
			display: inline-block;
			float: none;
			img {
				max-width: 95%;
				height: auto;
			}
		}
	}

	.user-container {
		position:relative;
		float:right;
		display:inline-block;;
		.display-img {
			img {
				max-width: 100%;
			    height: auto;
			    border-radius: 50%;
			}
		}
		.current_info {
			text-align: left;
			h2 {
				margin: 0;
			}
		}
	}

	.login-container {
		a {
			color: $font-color;
			display: inline-block;
    		margin-right: 10px;
    		text-transform: uppercase;
			i {
				color: $red;
				margin-right: 10px;
			}
		}
	}
}
.page-header.text-left {
		margin-top: 0em;;
	}
#header-user {
	position: relative;
	display: inline-block;
	.display-img {
		position: relative;
	.crown {
		background:url('../images/crown.png');
		z-index:99;
		height:40px;
		width:40px;
		// -webkit-background-size: fill;
		background-size: 100%;
		position: absolute;
		top:-1.7em;
		right: 32%;
		}
	}
	.actions {
		margin: 0;
		margin-top: 1em;
		padding: 0;
		display: inline-block;
		list-style-type: none;
		width:100%;
		li {
			display:inline-block;
			float:left;
			width:50%;
			a {
				display:inline-block;
				width:100%;
				&.upgrade, &.subscription {
					@extend .btn-yellow;
				}
			}
		}
	}
}



//  NAVIGATION

.navbar-default {
	background-color: $theme-blue; 
	min-height: auto;
	border: none;
    border-radius: 0;
    #primary-navigation {
    	text-align: center;
    	font-size: 0;
    	&>div {
    		display: inline-block;
    		.navbar-nav {
    			&>.open {
    				>a,>a:focus,>a:hover {
    					background-color: #fff;
    					opacity: 0.9;
    				}
    			}
    			li {
    				a {
    					padding: 10px 15px;
    					font-size: 16px;
    					color: #000;
    				}
    				&.active {
    					a, a:focus, a:hover {
    						background-color: #fff;
    						opacity: 0.9;
    					}
    				}
    				.dropdown-menu {
    					border: none;
					    box-shadow: none;
					    background-color: $theme-blue;
					    padding: 0;
    				}
    			}
    		}
    	}
    }
}