.page-header {
	border-bottom: 0;
	text-align: center;
	position: relative;
    overflow: hidden;
    margin: 0;
    height: 100px;
	.logo-container {
		a {
			display: inline-block;
			float: none;
			margin-top: 20px;
			img {
				max-width: 100%;
				height: auto;
			}
		}
	}
}

//  NAVIGATION

.navbar-default {
	background-color: $theme-blue; 
	min-height: auto;
	border: none;
    border-radius: 0;
    #primary-navigation {
    	text-align: center;
    	font-size: 0;
    	&>div {
    		display: inline-block;
    		.navbar-nav {
    			li {
    				a {
    					padding: 10px 15px;
    					font-size: 14px;
    					color: #000;
    				}
    				&.active {
    					a, a:focus, a:hover {
    						background-color: #fff;
    						opacity: 0.9;
    					}
    				}
    			}
    		}
    	}
    }
}