#holiday-list {
	list-style: none;
	padding: 0;
	li.holiday {
		clear: both;
		margin-bottom: 20px;
    	overflow: hidden;
    	.holiday-title {
    		margin-top: 0;
    	}
		.holiday-img {
		    width: 50%;
		    float: left;
		    margin: 0 15px 15px 0;
		}
	
		.hide-bullets {
		    list-style:none;
		    display:block;
		    margin:0px;
		    margin-top:20px;
		}

		.thumbnail {
		    padding: 0;
		}

		.carousel-inner>.item>img, .carousel-inner>.item>a>img {
		    width: 100%;
		}
		}
}