@import "online-lessons";


 #news-list{
	 list-style:none;
	 margin: 0;
	 padding: 0;
	 .news{
		@include lessson($yellow);
		&:hover {
				.news-title {
					color: $yellow;
				}
			}
		}

	 .news-buttons { 
	 	
	 	a{
	 	 color: #fff;
	 	 background:$yellow;
	   margin-bottom: 0.5em;
     margin-left: .5em;
	  }
	 }
}