@import "online-lessons";


 #news-list{
	 list-style:none;
	 margin: 0;
	 padding: 0;
	 .news{
		@include lessson($blue);
		&:hover {
				.news-title {
					color: $blue;
				}
			}
		}

	 .news-buttons { 
	 	
	 	a{
	 	 color: #fff;
	 	 background:$blue;
	   margin-bottom: 0.5em;
     margin-left: .5em;
	  }
	 }
}
/*---------------------------------------------------
				AUTHOR POSTS
---------------------------------------------------*/
article.type-post {
	@include lessson($blue);
	&:hover {
		.entry-title {
			a {
				color: $blue;
			}
		}
	}
}

		
