/*------------------------------
		GLOBAL
-------------------------------*/
.theme-button {
	&:hover,&:focus {
		text-decoration: none;
		color: #fff;
		background-color: $blue;
	}
}

/*------------------------------
		PAGE-HEADER
-------------------------------*/
.page-header {
	.user-container {
		// position: absolute;
	 //    top: 0;
	 //    right: 0;
		.header-link {
			&:hover,&:focus {
				text-decoration: none;
			}	
		}
	}
	.login-container {
		a {
			cursor: pointer;
			&:hover, &:active, &:focus {
				text-decoration: none; 
			}
		}
	}
}
/*------------------------------
		NAVIGATION
-------------------------------*/
#primary-navigation {
	.navbar-nav {
		li:hover {
			background: rgba(255,255,255,0.9);
		}
	}
}
/*------------------------------
		FOOTER
-------------------------------*/
.content-info {
	.container {
		.contact-details {
			position: absolute;
			bottom: 20px;
			display: inline-block;
			a:hover, a:active, a:focus {
				text-decoration: none;
			}
		}
		.social-links {
			position: absolute;
			bottom: 20px;
			display: inline-block;
			right: 0;
		}
	}
}
/*------------------------------
		HOME PAGE
-------------------------------*/

.box-nav {
	ul {
		li {
			height: 250px;
			.link-card {
				height: 250px;
				color:$font-color;
				&:hover {
					.link-text {
						color: #fff;
					}
					.link-color {
						height: inherit;
					}
				}
				.link-color{
					height: 10px;
				}
				.link-text{
					padding: 0 30px;
				}
			}
		}
		li+li {
			border-left: 1px solid #fff;
		}
	}
}
.site-video {
	.row {
		width: 90%;
	}
}
.account-types {
	width: 80%;
	.row {
		&>div {
			background-size: 42%;
		}
		.account-card {
			width: 70%; 
			ul {
				height: 80px;
			}
		}
	}
}
.practice-compete {
  .content{
  	padding: 5% 5% 0 0;
  }
	.theme-button {
		position: absolute;
		bottom: 0;
		left: 50%;
	}
}
.lessons {
    min-height: 370px;
	.theme-button {
		position: absolute;
		bottom: 0;
		left: 50%;
	}
}
.bridge-holidays {
    min-height: 370px;
	.theme-button {
		position: absolute;
		bottom: 0;
		left: 9%;
	}
}
/*------------------------------
		REGISTER PAGE
-------------------------------*/
.buddypress {
	.account-types {
		.row {
			.account-card {
				ul {
					height: 120px;
				}
			}
		}
	}
}
/*------------------------------
		VIDEO LIBRARY PAGE
-------------------------------*/
.entry-content{
	.cpt-li{
		&:hover {
			color: $pink;
		}
	}
}

/*------------------------------
		MODULE LESSONS LIST
-------------------------------*/
.lesson-controls {
	li {
		&:hover {
			background-color: $blue;
			border-color: $blue;
			a {
				color: #fff;
			}
		}
	}
}

/*=========================================
=            Upcoming Holidays            =
=========================================*/
.holiday-buttons{
	.view-details{
		float:right;
	}
}
/*------------------------------
		BOOKS
-------------------------------*/
.woocommerce  {
	.button, a.button, a.button.alt, button.button.alt, input.button.alt, input.button[type=submit] {
		&:hover {
			background: $border-blue;
			border-color: $border-blue;
			color: #fff;
		}
	}
	ul.products {
		li.product.type-product {
			a.added_to_cart {
				&:hover {
					color: $blue;
				}
			}
			&:hover {
				h3,.price {
					color: $blue;
				}
			}
		}
	}
	li.product-category.product {
		&:hover {
			opacity: 0.7;
			transition: all 0.3s ease;
			h3 {
				text-shadow: 2px 3px 4px $theme-black;
				transition: all 0.3s ease;
			}
		}
	}
}
/*------------------------------
		CART
-------------------------------*/
.woocommerce {
	.shop_table {
		.cart_item {
			a {
				&:hover {
					color: $border-blue;
				}
			}
		}
	}
}