 /*========================================
=            Global            =
========================================*/
.theme-button {
    margin-bottom: 5px;
}
/*=============================================
=           User Section        =
=============================================*/
.page-header {
    .logo-container {
        a {
            img {
                max-width: 100%; 
            }
        }
    }
    .user-container {
        margin-top: 1em;
        .header-link {
            float: left;
        }
        .current_info {
            text-align: left;
            padding: 0;
        }
    }
    #header-user {
        margin: 2em 0 0 0;
        clear: both;
        .display-img {
            padding: 0;
            .crown {
                height: 30px;
                width: 30px;
                bottom: -1px;
                right: -8px;
            }   
        }
    }
}
 /*========================================
=            Navigation            =
========================================*/
.navbar-default {
    #primary-navigation {
        >div {
            width: 100%;
            .dropdown-menu {
                text-align: center;
            }
        }
    }
}

/*========================================
=            Home Page Events            =
========================================*/
.box-nav {
    ul {
        li {
            height: auto;
            text-align: left;
        }
    }
}

.events-carousel {
    #events-carousel {
        height: 70px;
        width:100%;
        padding:0px;
        .carousel-inner {
            width: 100%;
            margin: 0 auto;
            .event-obj {
                font-size:0.9em;
                float: left;
                border-right: 1px solid $border-blue;
                 height: 90px;
                &:first-child {
                    border-left: 1px solid $border-blue;
                }
                p {
                    margin: 0;
                    line-height: 16px;
                }
            }
        }
    }
        .carousel-control {
            top:20%;
            background: none;
            width: 5%;

        }
    
}
.lessons {
    .content {
        padding: 20px;
    }
}
.bridge-holidays {
    .content {
        padding: 20px; 
    }
}
/*============================
=            Avatar          =
============================*/
#header-user {
    .actions {
        li {
            width: 100%;
            margin-bottom: 0.5em;
        }
        
    } 

} 

.page-header .user-container .current_info h2{
    font-size: 1.5em;
}


/*======================================
=            Online Modules            =
======================================*/
.each_modules_fields li{
    margin-bottom: 0.5em;
}
.two_buttons {
    a {
        margin-bottom: 5px;
    }
}
button.theme-button.enrollnow.pull-right {
    float: left !important;
    margin-bottom: 5px;
}
/*======================================
=            Woocommerce            =
======================================*/
.woocommerce {
    ul.products {
        li.product-category {
            width: 100%;
        }
    }
}
/*======================================
=            Posts            =
======================================*/
#myCarousel {
    margin-bottom: 10px;
}
/*======================================
=            Sidebars            =
======================================*/
#module-extras {
    ul {
        padding: 0; 
    }
}
/*======================================
=                 Footer               =
======================================*/
.content-info {
    .container {
        .contact-details {
            a.theme-button {
                padding: 5px;
            }
        }
    }
}
