/*------------------------------
		PAGE-HEADER
-------------------------------*/
.page-header {
	.user-container {
		position: absolute;
	    top: 0;
	    right: 0;
	}
}
/*------------------------------
		NAVIGATION
-------------------------------*/
#primary-navigation {
	.navbar-nav {
		li:hover {
			background-color: #fff;
			opacity: 0.9;
		}
	}
}
/*------------------------------
		HOME PAGE
-------------------------------*/
.box-nav {
	ul {
		li {
			.link-card {
				height: 250px;
				&:hover {
					.link-text {
						color: #fff;
					}
					.link-color {
						height: inherit;
					}
				}
			}
		}
		li+li {
			border-left: 1px solid #fff;
		}
	}
}
.site-video {
	.row {
		width: 90%;
	}
}
.account-types {
	width: 80%;
	.row {
		&>div {
			background-size: 42%;
		}
		.account-card {
			width: 70%; 
			ul {
				height: 80px;
			}
		}
	}
}
.practice-compete {
	.register-button {
		position: absolute;
		bottom: 0;
		left: 50%;
	}
}