#upcoming-events{
	margin-top:2em;
	background-color: $grey-light;

	ul {
		margin: 0;
		padding: 0;
		li.holiday {

			list-style:none;
			border-bottom: 6px solid $green;
			padding: 1em;
			.holiday-title {
				clear: both;
				transition: all 0.3s ease;
			}
			.holiday-buttons{
				a{
					background: $green;
				}
			}
		}
	}
}
 