@import "online-lessons";


 #holiday-list{
	 list-style:none;
	 margin: 0;
	 padding: 0;
	 .holiday{
		@include lessson($green);
		&:hover {
				.holiday-title {
					color: $green;
				}
			}
		}

	 .holiday-buttons { 
	 	
	 	a{
	 	 background:$green;
	   margin-bottom: 0.5em;
     margin-left: .5em;
	  }
	 }
}