body {
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $font-color;
    .container {
    	background-color: #fff;
    }
    .register-button {
	    display: block;
	    background-color: #ed4946;
	    color: #fff;
	    text-transform: uppercase;
	    padding: 5px 20px;
	    text-align: center;
	}
	.register-button {
	    &:before, &:after {
		    content: "\2013";
		    margin: 0 8px;
		}
	}
	.section-title {
		text-align: center;
    	text-transform: uppercase;
    	margin: 40px 0 25px;
	}
}

.pink { background-color: $pink;}
.green { background-color: $green;}
.yellow { background-color: $yellow;}
.red { background-color: $red;}
.blue { background-color: $blue;}
.black { background-color: $theme-black;}
