// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #ed4946;

//Theme Colors
$theme-black: #152128;
$theme-blue: #c2e8f1;
$pink: #db4190;
$green: #8cc96b;
$yellow: #fecb14;
$red: #ed4946;
$blue: #85d2e4;
$blue-dark: #80C5DF;

$grey-light: #f8f8f8;
$grey: #bbbbbb;
$font-color: $theme-black;

$border-blue: #A3DDEB;