.buddypress {
	.account-types {
		margin-bottom: 2em;
		.section-title {
			display: none;
		}
	}
	.standard-form {
		.field_current-module, .field_bridge-skill, .field_completed-modules, .field_completed-lessons, .field_membership {
			display: none;
		}
	}
	/* &.register-page {
		.standard-form {
			.field_membership {
				display: block;
			}
		}
	} */
}
#buddypress .standard-form #basic-details-section,
#buddypress .standard-form #profile-details-section {
    float: left;
    width: 55%;
}
#buddypress .standard-form#signup_form div.submit {
    float: left;
    margin-top:2em;
    width: 55%;
    input[type="submit"]{
		background: $blue;
		border:none;
		color:#fff;
		padding:1em;
    }

}