.buddypress {
	.account-types {
		margin-bottom: 2em;
		.section-title {
			display: none;
		}
	}
	.standard-form {
		.field_current-module, .field_bridge-skill, .field_completed-modules, .field_completed-lessons {
			display: none;
		}
	}
}