.button {
	@extend .btn;
}
.btn {
	color:#fff;
	border-radius:0px;
}
.btn-primary {
	background: $red;
	border:0px;
}

#submit {
	background:$red;
	border:0px;
	display: inline-block;
	padding:0.5em 2em;
	color:#fff;
	input {
		background:none;
		border:0px;
	}
}