.modal-dialog {
	border-radius:0px;
	width: 500px;
    max-width: 100%;

	.modal-content {
	border-radius:0px;
	box-shadow:none;
	}
}
.modal-backdrop {
	background:#fff;
	opacity:0.8 !important;
}

.modal-body {
  position: relative;
  padding: $modal-inner-padding;
  // padding-bottom:2em;
}
#site-video-modal {
	.btn {
		width:100%;
	}
}


#mylogin { 
	.modal-body {
	color:#fff;
	font-size:0;
	}
	ul#login-action {
		display:inline-block;
		padding: 0;
		margin: 0;
		width: 100%;
		li {
			display:inline-block;
			a {
				padding: 6px 12px;
			}
		}
		li:first-child{
			input { font-weight:bold; }
		}
	}
}

#theme-my-login1 {
	font-size:14px !important;
}
.forgetmenot {
	color:#000;
}
.login {
	.input-group-addon,input {
	font-size:1.3em;
	border-radius:0px;
	border:1px solid $blue;
	}
	ul.tml-action-links li:first-child {
		display:none;
	}
}
.input-group-addon {
	background:$blue;
	color:#fff;
	}
.input-group {
	margin: 1em 0;
}



